<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Dashboar</span>
  <div class="spacer"></div>

</div>

<div class="content" role="main">


  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" tabindex="0" (click)="getChiste()">
      <svg class="material-icons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ionicon"
        viewBox="0 0 512 512">
        <title>Eye</title>
        <path
          d="M255.66 112c-77.94 0-157.89 45.11-220.83 135.33a16 16 0 00-.27 17.77C82.92 340.8 161.8 400 255.66 400c92.84 0 173.34-59.38 221.79-135.25a16.14 16.14 0 000-17.47C428.89 172.28 347.8 112 255.66 112z"
          fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
        <circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
      </svg>
      <span>Get Jokes</span>
    </button>

    <button class="card card-small" (click)="getFavorito()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" class="ionicon" width="24" height="24"
        viewBox="0 0 512 512">
        <title>Star</title>
        <path d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z" fill="none" stroke="currentColor"
          stroke-linejoin="round" stroke-width="32" />
      </svg>

      <span>My Jokes</span>
    </button>
  </div>

  <ng-template [ngIf]="!getJokes && !myJokes">    
      <p>Dashboard</p>
  </ng-template>

  <ng-template [ngIf]="getJokes">
    <div class="container-fluid">
      <div class="row justify-content-center scroll listado">
        <div class="d-flex flex-column my-3 item-soli card_solisitedes">
          <div class="general">
            <div class="col-r2">
              <div class="row-1">
                <p class="titulo-r">Id Chiste</p>
                <p class="fecha">{{chiste.idChuckNorris}}</p>
              </div>
              <div class="space-res">
                <div class="row-2">
                  <div class="col-r">
                    <h6 class="sub-titulo">Valor</h6>
                    <h5 class="sub-text">{{chiste.valorChuckNorris}}</h5>
                  </div>
                </div>
                <div class="row-2">
                  <div class="col-r">
                    <h6 class="sub-titulo">Url Icono</h6>
                    <h5 class="sub-text">{{chiste.iconoUrl}}</h5>
                  </div>
                </div>
                <div class="row-3">
                  <div class="col-r">
                    <h6 class="sub-titulo">Url</h6>
                    <h5 class="sub-text">{{chiste.urlChuckNorris}}</h5>
                  </div>
                  <div>
                    <button (click)="addFavorito()"> Favorito</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template  [ngIf]="myJokes">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="name" >Valor</th>
          <th scope="col" sortable="area"  >Url</th>
          <th scope="col" sortable="population" >Icono</th>
          <th scope="col" sortable="population" >Aciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of favoritos">
          <th scope="row">{{ item.idChuckNorris }}</th>
          <td> 
            {{ item.valorChuckNorris }}
          </td>
          <td>{{ item.urlChuckNorris}}</td>
          <td>{{ item.iconoUrl }}</td>
          <td>
             <button (click)="deleteFavorito(item.idChuckNorris)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>



</div>